html {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

body {
    margin-bottom: 400px;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

body {
    margin-bottom: 400px;
}

body::-webkit-scrollbar {
    display: none;
}


/* CSS for horizontal navbar */

.horizontal-navbar {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    left: 0px;
}

.horizontal-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.horizontal-navbar li {
    margin-right: 20px;
}

.horizontal-navbar a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.horizontal-navbar a .item-icon {
    margin-right: 5px;
}

.horizontal-navbar a:hover {
    background-color: #555;
}


/* Adjustments for smaller screen sizes */

@media only screen and (max-width: 768px) {
    .horizontal-navbar ul {
        flex-direction: row;
        align-items: center;
    }
    .horizontal-navbar li {
        margin: 0 10px;
    }
    .horizontal-navbar a .item-txt {
        display: none;
        /* Hide text labels on smaller screens */
    }
}


/* Footer Styles */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    /* Initially hide the footer */
    transition: opacity 0.5s ease-in-out;
    /* Add transition for opacity */
    z-index: -1;
}

.footer {
    display: block;
}

.show-footer footer {
    opacity: 1;
    /* Show the footer */
}

.main-content {
    padding: 20px;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    /* Adjust as needed */
}

.intro-paragraph {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.card {
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: rgb(249, 249, 249, .8);
}

h2 {
    font-weight: bold;
    font-size: 1.2em;
    color: #401238;
}

h3 {
    font-weight: bold;
    color: #401238;
}

.comparison-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie-container {
    width: calc(45% - 20px);
    margin-bottom: 20px;
    padding: 40px;
    border: 1px solid #cf66c5;
    border-radius: 10px;
    box-sizing: border-box;
}

.movie-container img {
    border-radius: 10px;
}

.remove-btn {
    background-color: #333;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.remove-btn:hover {
    background-color: #555;
}

.button:hover {
    background-color: #555;
}

@media only screen and (max-width: 768px) {
    .main-content {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 100px;
    }
    .card {
        width: 90%;
        margin-top: 30px;
    }
    h2 {
        font-size: 1.5em;
    }
}


/* logo */

.logo {
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 20px;
    z-index: 1000;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    /* Adjust color as needed */
}

.logo-link .item-icon {
    margin-right: 5px;
    color: #953889;
}

.logo-link:hover {
    opacity: 0.8;
    /* Adjust opacity for hover effect */
}


/* Adjustments for smaller screen sizes */

@media only screen and (max-width: 768px) {
    .horizontal-navbar ul {
        flex-direction: row;
        align-items: center;
    }
    .horizontal-navbar li {
        margin: 0 10px;
    }
    body {
        margin-bottom: 150px;
    }
    .horizontal-navbar a .item-txt {
        display: none;
        /* Hide text labels on smaller screens */
    }
    .main-content {
        margin-left: 20px;
        margin-right: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .card {
        width: 90%;
        margin-top: 30px;
    }
    h2 {
        font-size: 1.5em;
        /* Adjust font size */
    }
    .comparison-container {
        flex-direction: column;
        /* Stack movie containers vertically */
        align-items: center;
        /* Center movie containers horizontally */
    }
    .movie-container {
        width: 100%;
        /* Take full width */
    }
    .movie-container img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }
}