html {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

body {
    margin-bottom: 400px;
}

body::-webkit-scrollbar {
    display: none;
}

.search_and_results {
    margin-top: 100px;
}


/* Search bar styling */

#search-filter {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#search {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#search-type {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#search-type option {
    font-size: 16px;
}

#search-filter button {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    /* padding: 10px 20px; */
    background-color: #cf66c5;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-filter button i {
    margin-top: 4px;
}

#search-filter button:hover {
    background-color: #b346a7;
}


/* Search results styling */

#search-results {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.movie {
    background-color: rgb(249, 249, 249, .8);
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding: 20px;
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.movie-info {
    padding: 15px;
}

.movie h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.movie p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}


/* Random movies styling */

#random-movies {
    margin-top: 20px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}


/* Pagination styling */

#pagination {
    margin-top: 40px;
    margin-right: 100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagination button {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: #cf66c5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#pagination button:hover {
    background-color: #b346a7;
}


/* .previous-page-button,
.next-page-button {
    background-color: #ccc;
    color: #333;
}

.previous-page-button:hover,
.next-page-button:hover {
    background-color: #bbb;
} */

#search-type option {
    font-size: 16px;
    /* Adjust the font size as needed */
    font-weight: lighter;
    /* Reduce the font weight */
}

#search-filter {
    margin-top: 20px;
    margin-left: 300px;
}

#search-results,
#random-movies,
#pagination {
    margin-left: 300px;
    margin-right: 300px;
    /* Adjusted margin to shift to the right */
}

#search-results,
#random-movies {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    /* Increased grid gap */
}


/* hyperlink styling */

.movie-info a {
    color: inherit;
    /* Inherit the font color */
    text-decoration: none;
    /* Remove underline */
}

.movie-info a:hover {
    color: #b346a7;
    /* Change the hover color to a more modern look */
}


/* Footer Styles */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    /* Initially hide the footer */
    transition: opacity 0.5s ease-in-out;
    /* Add transition for opacity */
    z-index: -1;
}

.footer {
    display: block;
}

.show-footer footer {
    opacity: 1;
    /* Show the footer */
}


/* CSS for horizontal navbar */

.horizontal-navbar {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    left: 0px;
}

.horizontal-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.horizontal-navbar li {
    margin-right: 20px;
}

.horizontal-navbar a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.horizontal-navbar a .item-icon {
    margin-right: 5px;
}

.horizontal-navbar a:hover {
    background-color: #555;
}


/* Adjustments for smaller screen sizes */

@media only screen and (max-width: 768px) {
    .horizontal-navbar ul {
        flex-direction: row;
        align-items: center;
    }
    .horizontal-navbar li {
        margin: 0 10px;
    }
    .horizontal-navbar a .item-txt {
        display: none;
        /* Hide text labels on smaller screens */
    }
}


/* Adjustments for smaller screen sizes */

@media only screen and (max-width: 768px) {
    body {
        margin-bottom: 200px;
        /* Reduce margin-bottom for smaller screens */
    }
    .search_and_results {
        margin-top: 100px;
        /* Reduce margin-top for smaller screens */
    }
    #search-filter {
        margin-left: 0px;
        /* Reset margin-left for smaller screens */
    }
    #search-type {
        width: 150px;
        /* Reduce width of search type select for smaller screens */
    }
    #search-results,
    #random-movies {
        margin-left: 50px;
        /* Reset margin-left for smaller screens */
        margin-right: 50px;
        /* Reset margin-right for smaller screens */
    }
    #pagination {
        margin-right: 0;
        /* Reset margin-right for smaller screens */
        margin-bottom: 20px;
        /* Reduce margin-bottom for smaller screens */
    }
}


/* Adjustments for even smaller screen sizes */

@media only screen and (max-width: 480px) {
    body {
        margin-bottom: 100px;
        /* Further reduce margin-bottom for even smaller screens */
    }
    #search-filter {
        margin-left: 0;
        /* Reset margin-left for even smaller screens */
    }
    #search-type {
        width: 120px;
        /* Further reduce width of search type select for even smaller screens */
    }
}


/* Adjustments for larger screen sizes if needed */

@media only screen and (min-width: 1200px) {
    .search_and_results {
        margin-top: 150px;
        /* Increase margin-top for larger screens */
    }
}

@media only screen and (max-width: 768px) {
    /* Other styles... */
    #search-filter button {
        width: 40px;
        /* Ensure consistent width */
        height: 40px;
        /* Ensure consistent height */
        border-radius: 10px;
        margin-left: 10px;
        /* Remove padding to maintain circular shape */
    }
    #search-filter button i {
        margin-bottom: 7px;
        /* Reset margin for the icon */
    }
}


/* logo */

.logo {
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 20px;
    z-index: 1000;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    /* Adjust color as needed */
}

.logo-link .item-icon {
    margin-right: 5px;
    color: #953889;
}

.logo-link:hover {
    opacity: 0.8;
    /* Adjust opacity for hover effect */
}