html {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}


/* CSS for horizontal navbar */

.horizontal-navbar {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    left: 0px;
}

.horizontal-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.horizontal-navbar li {
    margin-right: 20px;
}

.horizontal-navbar a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.horizontal-navbar a .item-icon {
    margin-right: 5px;
}

.horizontal-navbar a:hover {
    background-color: #555;
}


/* Adjustments for smaller screen sizes */

@media only screen and (max-width: 768px) {
    .horizontal-navbar ul {
        flex-direction: row;
        align-items: center;
    }
    .horizontal-navbar li {
        margin: 0 10px;
    }
    .horizontal-navbar a .item-txt {
        display: none;
        /* Hide text labels on smaller screens */
    }
}


/* Footer Styles */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    /* Initially hide the footer */
    transition: opacity 0.5s ease-in-out;
    /* Add transition for opacity */
    z-index: -1;
}

.footer {
    display: block;
}

.show-footer footer {
    opacity: 1;
    /* Show the footer */
}


/* styles for main content */

.main-content {
    padding: 40px;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 300px;
    /* Adjust as needed */
}

.movie-card {
    background-color: rgb(249, 249, 249, .8);
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 40px;
}

.movie-details {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    /* Use flexbox to stack items horizontally */
    align-items: flex-start;
    /* Align items to the start (top) */
    margin-bottom: 20px;
    /* Add margin to separate each movie card */
}

.movie-poster {
    flex: 0 0 auto;
    /* Do not allow stretching */
    margin-right: 20px;
    margin-left: 20px;
    /* Add margin between poster and details */
}

.movie-info {
    flex: 1;
    /* Allow details to occupy remaining space */
    display: flex;
    /* Use flexbox for info details */
    flex-direction: column;
    /* Stack info details vertically */
    justify-content: flex-start;
    /* Align info details to the start (top) */
}

.movie-poster img {
    width: auto;
    height: auto;
    /* Allow poster to adjust its height */
    max-height: 200px;
    /* Limit maximum height of poster */
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.movie-card:hover .movie-poster {
    transform: scale(1.01);
}

.movie-info h3 {
    margin: 0;
    font-size: 18px;
}

.movie-info p {
    margin: 5px 0;
    font-size: 14px;
}


/* Adjustments for smaller screen sizes */

@media only screen and (max-width: 768px) {
    .movie-card {
        border-radius: 0;
    }
}

.movie-info h3 a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    transition: color 0.3s ease;
}

.movie-info h3 a:hover {
    color: #b346a7;
}