/* HOMEPAGE STYLE.CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    height: 100%;
    /* background: linear-gradient(to bottom right, #ffd8e6, #b3e0ff); */
    /* Light pink to light blue */
    background-position: center 600px;
}

html,
body {
    width: 100%;
    overscroll-behavior: none;
    min-height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 7rem;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 0;
    color: #2b2b2b;
    animation: bounceIn 2s ease forwards;
}


/* Add the following CSS */

#icon-container {
    color: #953889;
    position: relative;
    top: 0.08em;
    /* Adjust this value as needed to vertically align the icon */
}

#film-icon-container {
    color: #953889;
    position: relative;
    top: 0.08em;
    /* Adjust this value as needed to vertically align the icon */
}

#film-icon-container:hover i {
    color: #b346a7;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    70% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.2);
        /* Bounce effect */
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

h1.active {
    color: white;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    width: 100%;
    margin-bottom: 150px;
}

@media (min-width: 768px) {
    section {
        grid-template-columns: repeat(4, 1fr);
    }
    section.top {
        height: 70vh;
    }
    section.bottom {
        height: 40vh;
    }
}

.img {
    width: 100%;
    height: 400px;
    position: relative;
    background-size: cover;
    z-index: -1;
    transform: scale(0) rotate(45deg);
}

@media (min-width: 768px) {
    .img {
        height: 700px;
    }
}

.img:nth-of-type(1) {
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7bec43138677013.6221ce36988fe.png");
}

.img:nth-of-type(2) {
    background-image: url("https://imageio.forbes.com/blogs-images/erikkain/files/2015/11/Zelda-2.jpg?format=jpg&width=1440");
}

.img:nth-of-type(3) {
    background-image: url("https://cdna.artstation.com/p/assets/images/images/040/612/118/large/daniel-georgiev-the-mandalorian-poster-design.jpg?1629376034");
}

.img:nth-of-type(4) {
    background-image: url("https://ih1.redbubble.net/image.1121583872.2111/flat,750x,075,f-pad,750x1000,f8f8f8.jpg");
}

.img:nth-of-type(5) {
    background-image: url("https://i.etsystatic.com/25432943/r/il/5fad6c/5854661127/il_570xN.5854661127_l6e3.jpg");
}

.img:nth-of-type(6) {
    background-image: url("https://lumiere-a.akamaihd.net/v1/images/p_cars_19643_4405006d.jpeg");
}

.img:nth-of-type(7) {
    background-image: url("https://i.ebayimg.com/images/g/FC0AAOSwWwBbdom2/s-l1200.webp");
}

.img:nth-of-type(8) {
    background-image: url("https://i.ebayimg.com/images/g/8~QAAOSwyQtVoRQC/s-l1600.jpg");
}


/*# sourceMappingURL=style.css.map */


/* Homepage CSS */

.main-content {
    margin-bottom: 300px;
}


/* image carousel css */

.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.carousel__slides {
    display: flex;
}

.carousel__slides img {
    width: 100%;
    display: block;
}

.carousel__controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.carousel__controls button {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.5em;
}

.carousel__controls button:hover {
    background: rgba(255, 255, 255, 0.8);
}


/* styles for info-text */


/* Adjusted CSS for info container */

.info-container {
    margin-top: 20px;
    /* Add top margin for spacing */
    margin-left: auto;
    /* Auto left margin to center the content */
    margin-right: auto;
    /* Auto right margin to center the content */
    width: calc(800px + 200px);
    /* Adjusted width including side margins */
}


/* Adjusted CSS for info text */

.info-text {
    background-color: rgba(249, 249, 249, 0.75);
    border-radius: 10px;
    padding: 20px;
    width: 800px;
    /* Match the width of the carousel */
    max-width: 800px;
    /* Limit the maximum width to match the carousel */
    margin: 20px auto;
    /* Center the info text horizontally and add vertical margin */
}

.info-text h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.info-text p {
    color: #666;
    font-size: 1rem;
    line-height: 1.5;
}


/* for icon fade */

#icon-container {
    transition: opacity 0.5s ease-in-out;
}


/* filmfinder home title*/

.bottom {
    color: black;
    place-items: center;
    margin-top: 200px;
    margin-bottom: 350px;
}

.film-finder-text {
    font-size: 4rem;
    margin: 0;
    /* Reset margin to ensure proper alignment */
    text-align: center;
    /* Center the text horizontally */
}


/* Footer Styles */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    /* Initially hide the footer */
    transition: opacity 0.5s ease-in-out;
    /* Add transition for opacity */
    z-index: -1;
}

.footer {
    display: block;
}

.show-footer footer {
    opacity: 1;
    /* Show the footer */
}


/* CSS for horizontal navbar */

.horizontal-navbar {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.horizontal-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.horizontal-navbar li {
    margin-right: 20px;
}

.horizontal-navbar a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.horizontal-navbar a .item-icon {
    margin-right: 5px;
}

.horizontal-navbar a:hover {
    background-color: #555;
}


/* logo */

.logo {
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 20px;
    z-index: 1000;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    /* Adjust color as needed */
}

.logo-link .item-icon {
    margin-right: 5px;
    color: #953889;
}

.logo-link:hover {
    opacity: 0.8;
    /* Adjust opacity for hover effect */
}


/* For smaller screens, adjust layout */

@media (max-width: 768px) {
    /* Navbar */
    .horizontal-navbar ul {
        flex-direction: row;
        align-items: center;
    }
    .horizontal-navbar li {
        margin: 0 10px;
    }
    .horizontal-navbar a .item-txt {
        display: none;
        /* Hide text labels on smaller screens */
    }
    h1 {
        display: none;
    }
    /* Header */
    .main-content {
        margin-bottom: -100px;
    }
    /* Sections */
    section.top,
    section.bottom {
        height: auto;
    }
    /* Carousel */
    .carousel {
        max-width: 90%;
        /* Adjust maximum width for smaller screens */
    }
    /* Info Containers */
    .info-container {
        width: 90%;
        /* Adjust width for smaller screens */
        margin-left: auto;
        margin-right: auto;
    }
    .info-text {
        width: 100%;
        /* Adjust width for smaller screens */
        max-width: 100%;
    }
    /* Footer */
    footer {
        position: static;
        opacity: 1;
    }
    .bottom {
        margin-top: 400px;
        margin-bottom: 100px;
    }
    .logo {
        display: none;
        /* Hide the logo on small screens */
    }
}

@media (max-width: 600px) {
    /* Body background position */
    body {
        background-position: center 300px;
    }
    /* H1 font size */
    h1 {
        font-size: 4rem;
    }
    /* Navbar adjustments */
    .horizontal-navbar li {
        margin: 0 5px;
    }
    .horizontal-navbar a .item-txt {
        display: none;
    }
    /* Info container adjustments */
    .info-container {
        width: calc(100% - 40px);
        margin: 20px 20px;
    }
    .info-text {
        width: 100%;
        max-width: 100%;
    }
    /* Footer adjustments */
    .bottom {
        margin-bottom: 150px;
    }
}